body{
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
.f-sec {
    background: linear-gradient(rgba( 0, 0, 0, 40%), rgba( 0, 0, 0, 40%)), url('https://images.unsplash.com/photo-1520605728164-b6a5c6814203?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2681&q=80 4');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        max-width: 1500px;
        margin: auto;
        padding-bottom: 40vh;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .menu-toogle{
                display: none;
                cursor: pointer;
            }
            .logo-svg {
                height: 100px;
            }
            .left-menu ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                
            li{
                list-style: none;
            
                 a {
                    text-decoration: none;
                    color: #fff;
                    padding: 15px;
                    transition: .4s ease-in-out;
                    text-underline-offset: 1em;
                    &:hover {
                        text-decoration: underline;

                        }
                    }
            
                }
        
             }

        }
    }
    .main-tw {
        padding-bottom: 10px;
        width: 40vmax;
        margin-left: 12vmax;
        p{
            font-size: 35px;
            color: #fff;
        }
        button{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }

}
.s-sec{
    padding-bottom: 100px;
    .over{
        width: 25vmax;
        padding: 100px 0;
        h3{
            font-size: 24px;
            font-weight: 700;
        }    
        p{
            font-size: 18px;
            font-weight: 100;
        }
        .btn{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .flex-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .f-img {
            width: 650px;
            overflow: hidden;
            .first-img{
                height: 650px;
                width: 100%;
            }
            .btn-1{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
        .s-img {
            width: 650px;
            overflow: hidden;
            .sec-img{
                height: 650px;
                width: 100%;
            }
            .btn-2{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
    }
}
.t-sec{
    padding: 100px 0;
    .text {
        margin-bottom: 100px;
        width: 25vmax;
        h3{
            font-size: 24px;
        }
    }
    .t-sec-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1600px;
        div {
            flex: 1;
            img {
                width: 400px;
                height: 350px;
            }
            button {
                background-color: #fff;
                border: none;
                font-weight: 600;
                padding: none;
                font-size: 15px;
            }
        }
    }
}
.for-sec {
    padding: 100px 0;
    .bg-div {
        padding: 100px 0 500px 0;
        background-color: #000;
        color: #fff;
        .text {
            width: 500px;
            text-align: center;
            margin: auto;
            p {
                font-weight: 500;
                color: #fff;
            }
            h3 {
                color: #fff;
                font-size: 34px;
                font-weight: 100;
                line-height: 50px;
            }
        }
        
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: -400px;
      .swiper-wrapper{
  
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                .slide-1{
                    background: url('https://images.unsplash.com/photo-1523705764474-ce1cad2c8537?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2403&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                }
                .slide-2{
                    background: url('https://images.unsplash.com/photo-1657391473956-a3f44561c146?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                    .in-img {
                        position: absolute;
                        bottom: 100px;
                        left: 160px;
                        h2{
                            font-size: 32px;
                            font-weight: 100;
                            color: #fff;
                        }
                        .btn-3{
                            color: #fff; 
                            padding: 20px 30px;
                            border: none; 
                            border-radius: 5px;
                            font-size: 14px;
                            cursor: pointer;
                            background-color: #000;
                            a{
                                text-decoration: none;
                                color: #fff;
                
                            }
                        }
                    }
                }
                .slide-3{
                    background: url('https://images.unsplash.com/photo-1524134180233-417dc68b0cac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2177&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                }
            }
        }
    }
}
.fif-sec {
    padding-bottom: 150px;
    .text-fif {
        padding-bottom: 100px;
        h3 {
            font-size: 24px;
            font-weight: 100;
        }
        p {
            width: 450px;
        }
        .btn-3{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: auto;
      .swiper-wrapper{
  
            .swiper-slide {
                font-size: 18px;
                background: #fff;
                img{
                    width: 520px;
                    height: 300px;
                }
            }
        }
    }
}
.six-sec {
    background-color: #000;
    color: #fff;
    .six-sec-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sec-text{
            padding-left: 10%;
            width: 600px;
            .btn-4{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #ffffff;
                a{
                    text-decoration: none;
                    color: #000000;
                
                }
            }
        }
        .se-img {
            background: url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2600&q=80');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            width: 1100px;
        }
    }

}
div {
    hr {
        padding: 0;
        margin: 0;
    }
}
.last-sec {
    background-color: #000;
    padding: 100px 100px;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            color: #fff;
        }
        .input-sede{
            input {
            width: 650px;
            height: 50px;
            padding-left: 15px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #515151; 
            color: #fff;   
            border: none;
        }
            button{
                width: 150px;
                height: 51px;
                border: none;
                color: #fff;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #515151;
            }
        }
    }
}
footer {
    background-color: #000;
    .foot-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 100px 100px;
        .loogo {
            img {
                height: 100px;
            }
            div {
                h3 {
                    font-size: 24px;
                    font-weight: 100;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
    .last {
        max-width: 1600px;
        margin: auto;
    
    .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            p {
                color: #fff;
            }
        }
        .footer-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 22px;
            gap: 20px;
        }
        .footer-sub-menu {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        padding: 10px;
                    }
                }
            }
        }
    }

}
}
.container {
    max-width: 1350px;
    margin: auto;
}
}

@media (max-width: 1200px) {
    body {
    .container {
        max-width: 1000px;
        margin: auto;
    }
    .f-sec {
        .main-tw{
            p {
                font-size: 18px;
            }
            button {
                font-size: 10px;
            }
        }
    } 
    .s-sec {

        .over {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 12px;
            }
            .btn {
                font-size: 10px;
            }
        }
        .flex-sec {
            display: block;
            .f-img {
                width: 1000px;
                padding-bottom: 100px;
                .first-img {
                    width: 1000px;
                    height: 550px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-1 {
                    font-size: 10px;
                }

            }
            .s-img {
                width: 1000px;
                .sec-img {
                    width: 1000px;
                    height: 550px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-2 {
                    font-size: 10px;
                }

            }
        }
    }
    .t-sec {
        .t-sec-flex {
            display: block;
            div {
                width: 1000px;
                padding-bottom: 100px;
                img {
                    width: 1000px;
                    height: 550px;
                }
            }
        }
    }
    .for-sec {
        .bg-div {
            .text {
                h3 {
                    font-size: 18px;
                    line-height: 2;
                    font-weight: bolder;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        
        .container {
            max-width: 1000px;
        .mySwiper {
            
            .swiper-wrapper{
                .swiper-slide {
                    .slide-1 {
                        height: 400px;
                    }
                    .slide-2 {
                        
                        height: 400px;
                        .in-img {
                            left: 50px;
                            bottom: 50px;
                        }
                    }
                    .slide-3 {
                        height: 400px;
                    }
                }
            }
        }
        }
    }
    .fif-sec {
        .swiper {
            max-width: 1000px;
            margin: auto;
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
    .six-sec {
        .six-sec-flex{
        .sec-text {
            padding-left: 5%;
        }
    }
    }
    .last-sec {
        div {
        .input-sede {
            input {
                width: 450px;    
            }
        }
    }
}
footer {
    .footer-menu {
        max-width: 1000px;
        margin: auto;
    }
}
}
}
@media (max-width: 1000px) {
     body {
    .container {
        max-width: 800px;
        margin: auto;
    }

    .f-sec {
        header {
            max-width: 800px;
        }
        .main-tw{
            p {
                font-size: 18px;
            }
            button {
                font-size: 10px;
            }
        }
    } 
    .s-sec {

        .over {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 12px;
            }
            .btn {
                font-size: 10px;
            }
        }
        .flex-sec {
            display: block;
            .f-img {
                width: 800px;
                padding-bottom: 100px;
                .first-img {
                    width: 800px;
                    height: 550px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-1 {
                    font-size: 10px;
                }

            }
            .s-img {
                width: 800px;
                .sec-img {
                    width: 800px;
                    height: 550px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-2 {
                    font-size: 10px;
                }

            }
        }
    }
    .t-sec {
        .t-sec-flex {
            display: block;
            div {
                width: 800px;
                padding-bottom: 100px;
                img {
                    width: 800px;
                    height: 550px;
                }
            }
        }
    }
    .for-sec {
        .bg-div {
            padding: 100px 0 200px 0;
            .text {
                h3 {
                    font-size: 18px;
                    line-height: 2;
                    font-weight: bolder;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        
        .container {
            max-width: 800px;
        .mySwiper {
            margin-top: -150px;
            .swiper-wrapper{
                .swiper-slide {
                    .slide-1 {
                        height: 275px;
                    }
                    .slide-2 {
                        
                        height: 275px;
                        .in-img {
                            left: 20px;
                            bottom: 50px;
                        }
                    }
                    .slide-3 {
                        height: 275px;
                    }
                }
            }
        }
        }
    }
    .fif-sec {
        .swiper {
            max-width: 800px;
            margin: auto;
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
    .six-sec {
        .six-sec-flex{
        .sec-text {
            padding-left: 5%;
        }
    }
    }
    .last-sec {
        div {
        .input-sede {
            input {
                width: 250px;    
            }
        }
    }
}
footer {
    display: none;
}
    }
}
@media (max-width: 860px) {
    body {
        .container {
            max-width: 640px;
            margin: auto;
        }
        .f-sec {
            header {
                max-width: 640px;
                nav {
                    
                    .menu-toogle {
                        display: block;
                    }
                    .left-menu.active {
                        right: 0;
                        display: block;
                    }
                    .left-menu {
                        display: none;
                        // display: block;
                        background-color: #515151;
                        position: absolute;
                        right: -100%;
                        transition: right 0.3s;
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
        
    .s-sec {

        .over {
            width: 100%;
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
            .btn {
                font-size: 10px;
            }
        }
        .flex-sec {
            display: block;
            .f-img {
                width: 640px;
                padding-bottom: 100px;
                .first-img {
                    width: 640px;
                    height: 450px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-1 {
                    font-size: 10px;
                }

            }
            .s-img {
                width: 640px;
                .sec-img {
                    width: 640px;
                    height: 450px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
                .btn-2 {
                    font-size: 10px;
                }

            }
        }
    }
    .t-sec {
        .text {
            width: 100%;
        }
        .t-sec-flex {
            display: block;
            div {
                width: 640px;
                padding-bottom: 100px;
                img {
                    width: 640px;
                    height: 450px;
                }
            }
        }
    }
    .for-sec {
        .bg-div {
            padding: 100px 0 200px 0;
            .text {
                h3 {
                    font-size: 18px;
                    line-height: 2;
                    font-weight: bolder;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        
        .container {
            max-width: 640px;
        .mySwiper {
            margin-top: -150px;
            .swiper-wrapper{
                .swiper-slide {
                    .slide-1 {
                        height: 200px;
                    }
                    .slide-2 {
                        
                        height: 200px;
                        .in-img {
                            display: none;
                        }
                    }
                    .slide-3 {
                        height: 200px;
                    }
                }
            }
        }
        }
    }
    .fif-sec {
        .swiper {
            max-width: 640px;
            margin: auto;
            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 300px;
                        height: 200px;
                    }
                }
            }
        }
    }
    .six-sec {
        .six-sec-flex{
            padding-top: 50px;
            display: block;
            margin: auto;
        .sec-text {
            margin: auto;
            padding-bottom: 50px;
        }
        .se-img {
            width: 640px;
            margin: auto;
        }
    }
    }
    .last-sec {
        div {
            display: block;
            margin: auto;
        .input-sede {
            button {
                margin-left: -5px;
            }
            input {
                width: 350px;    
            }
        }
    }
}
    }
}
@media (max-width: 640px) {
    body {
        .container {
            max-width: 480px;
            margin: auto;
        }
        .f-sec {
            header {
                max-width: 480px;
            }
        }
        .s-sec {

            .over {
                width: 100%;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                }
                .btn {
                    font-size: 10px;
                }
            }
            .flex-sec {
                display: block;
                .f-img {
                    width: 480px;
                    padding-bottom: 100px;
                    .first-img {
                        width: 480px;
                        height: 300px;
                    }
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 12px;
                    }
                    .btn-1 {
                        font-size: 10px;
                    }
    
                }
                .s-img {
                    width: 480px;
                    .sec-img {
                        width: 480px;
                        height: 300px;
                    }
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 12px;
                    }
                    .btn-2 {
                        font-size: 10px;
                    }
    
                }
            }
        }
        .t-sec {
            .text {
                width: 100%;
            }
            .t-sec-flex {
                display: block;
                div {
                    width: 480px;
                    padding-bottom: 100px;
                    img {
                        width: 480px;
                        height: 300px;
                    }
                }
            }
        }
        .for-sec {
            .bg-div {
                padding: 100px 0 200px 0;
                .text {
                    h3 {
                        font-size: 18px;
                        line-height: 2;
                        font-weight: bolder;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
            
            .container {
                max-width: 480px;
            .mySwiper {
                margin-top: -80px;
                .swiper-wrapper{
                    .swiper-slide {
                        .slide-1 {
                            height: 150px;
                        }
                        .slide-2 {
                            
                            height: 150px;
                            .in-img {
                                display: none;
                            }
                        }
                        .slide-3 {
                            height: 150px;
                        }
                    }
                }
            }
            }
        }
        .fif-sec {
            .swiper {
                max-width: 480px;
                margin: auto;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 220px;
                            height: 160px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
                padding-top: 50px;
                display: block;
                margin: auto;
            .sec-text {
                margin: auto;
                padding-bottom: 50px;
            }
            .se-img {
                width: 480px;
                margin: auto;
            }
        }
        }
        .last-sec {
            div {
                display: block;
                margin: auto;
            .input-sede {
                button {
                    margin-left: -5px;
                    width: 80px;
                }
                input {
                    width: 150px;
                    font-size: 12px;
                    padding-left: 5px;
                    padding-right: 10px;    
                }
                
            }
        }
    }
    }
}
@media (max-width: 480px) {
    body {
        .container {
            max-width: 360px;
            margin: auto;
        }
        .f-sec {
            header {
                max-width: 360px;
                nav {
                    .logo-svg {
                        height: 50px;
                    }
                }
            }
        }
        .s-sec {
            .flex-sec {
                display: block;
                .f-img {
                    width: 360px;
                    .first-img {
                        width: 360px;
                        height: 250px;
                    }
                }
                .s-img {
                    width: 360px;
                    .sec-img {
                        width: 360px;
                        height: 250px;
                    }   
                }
            }
        }
        .t-sec {
            padding-top: 0;
            .t-sec-flex {
                div {
                    width: 360px;
                    img {
                        width: 360px;
                        height: 200px;
                    }
                }
            }
        }
        .for-sec {
            .bg-div {
                padding: 100px 0 200px 0;
                .text {
                    width: 360px;
                }
                }
            }
            .container {
                max-width: 360px;
            .mySwiper {
                display: none;
                .swiper-wrapper{
                    .swiper-slide {
                        .slide-1 {
                            height: 250px;
                        }
                        .slide-2 {
                            height: 250px;
                        }
                        .slide-3 {
                            height: 250px;
                        }
                    }
                }
            }
            }
        .fif-sec {
            .text-fif {
                p {
                    width: 360px;
                }
            }
            .swiper {
                max-width: 360px;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 360px;
                            height: 260px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
            .se-img {
                width: 360px;
            }
        }
        }
        .last-sec {
            padding: 50px 20px;
            div {
            .input-sede {
                input {
                    width: 220px;   
                }
                
            }
        }
    }
    }
}
