body{
    margin: 0;
    padding: 0;
.f-sec {
    background: linear-gradient(rgba( 0, 0, 0, 40%), rgba( 0, 0, 0, 40%)), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        max-width: 1900px;
        margin: auto;
        padding-bottom: 40vh;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .logo-svg {
                height: 100px;
            }
            .left-menu ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                
            li{
                list-style: none;
            
                 a {
                    text-decoration: none;
                    color: #fff;
                    padding: 15px;
                    transition: .4s ease-in-out;
                    text-underline-offset: 1em;
                    &:hover {
                        text-decoration: underline;

                        }
                    }
            
                }
        
             }

        }
    }
    .main-tw {
        padding-bottom: 10px;
        width: 40vmax;
        margin-left: 12vmax;
        p{
            font-size: 35px;
            color: #fff;
        }
        button{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }

}
.s-sec{
    padding-bottom: 100px;
    .over{
        width: 20vmax;
        padding: 100px 0;
        h3{
            font-size: 24px;
            font-weight: 700;
        }    
        p{
            font-size: 18px;
            font-weight: 100;
        }
        .btn{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .flex-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .f-img {
            width: 800px;
            overflow: hidden;
            .first-img{
                height: 800px;
            }
            .btn-1{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
        .s-img {
            width: 800px;
            overflow: hidden;
            .sec-img{
                height: 800px;

            }
            .btn-2{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
    }
}
.t-sec{
    padding: 100px 0;
    .text {
        margin-bottom: 100px;
        width: 25vmax;
        h3{
            font-size: 24px;
        }
    }
    .t-sec-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1900px;
        div {
            flex: 1;
            img {
                width: 500px;
                height: 600px;
            }
            button {
                background-color: #fff;
                border: none;
                font-weight: 600;
                padding: none;
                font-size: 15px;
            }
        }
    }
}
.container {
    max-width: 1600px;
    margin: auto;
}
@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}
@media (max-width: 1000px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }
}
@media (max-width: 860px) {
    .container {
        max-width: 860px;
        margin: auto;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 640px;
        margin: auto;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 480px;
        margin: auto;
    }
}
}