body {
  margin: 0;
  padding: 0;
}
body .f-sec {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .f-sec header {
  max-width: 1900px;
  margin: auto;
  padding-bottom: 40vh;
}
body .f-sec header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
body .f-sec header nav .logo-svg {
  height: 100px;
}
body .f-sec header nav .left-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .f-sec header nav .left-menu ul li {
  list-style: none;
}
body .f-sec header nav .left-menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-underline-offset: 1em;
}
body .f-sec header nav .left-menu ul li a:hover {
  text-decoration: underline;
}
body .f-sec .main-tw {
  padding-bottom: 10px;
  width: 40vmax;
  margin-left: 12vmax;
}
body .f-sec .main-tw p {
  font-size: 35px;
  color: #fff;
}
body .f-sec .main-tw button {
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
}
body .f-sec .main-tw button a {
  text-decoration: none;
  color: #fff;
}
body .s-sec {
  padding-bottom: 100px;
}
body .s-sec .over {
  width: 20vmax;
  padding: 100px 0;
}
body .s-sec .over h3 {
  font-size: 24px;
  font-weight: 700;
}
body .s-sec .over p {
  font-size: 18px;
  font-weight: 100;
}
body .s-sec .over .btn {
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
}
body .s-sec .over .btn a {
  text-decoration: none;
  color: #fff;
}
body .s-sec .flex-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
body .s-sec .flex-sec .f-img {
  width: 800px;
  overflow: hidden;
}
body .s-sec .flex-sec .f-img .first-img {
  height: 800px;
}
body .s-sec .flex-sec .f-img .btn-1 {
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
}
body .s-sec .flex-sec .f-img .btn-1 a {
  text-decoration: none;
  color: #fff;
}
body .s-sec .flex-sec .s-img {
  width: 800px;
  overflow: hidden;
}
body .s-sec .flex-sec .s-img .sec-img {
  height: 800px;
}
body .s-sec .flex-sec .s-img .btn-2 {
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
}
body .s-sec .flex-sec .s-img .btn-2 a {
  text-decoration: none;
  color: #fff;
}
body .t-sec {
  padding: 100px 0;
}
body .t-sec .text {
  margin-bottom: 100px;
  width: 25vmax;
}
body .t-sec .text h3 {
  font-size: 24px;
}
body .t-sec .t-sec-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-width: 1900px;
}
body .t-sec .t-sec-flex div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body .t-sec .t-sec-flex div img {
  width: 500px;
  height: 600px;
}
body .t-sec .t-sec-flex div button {
  background-color: #fff;
  border: none;
  font-weight: 600;
  padding: none;
  font-size: 15px;
}
body .container {
  max-width: 1600px;
  margin: auto;
}
@media (max-width: 1200px) {
  body .container {
    max-width: 1200px;
    margin: auto;
  }
}
@media (max-width: 1000px) {
  body .container {
    max-width: 1000px;
    margin: auto;
  }
}
@media (max-width: 860px) {
  body .container {
    max-width: 860px;
    margin: auto;
  }
}
@media (max-width: 640px) {
  body .container {
    max-width: 640px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  body .container {
    max-width: 480px;
    margin: auto;
  }
}