body {
  margin: 0;
  padding: 0;
}
body section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body section header {
  max-width: 1900px;
  margin: auto;
  padding-bottom: 40vh;
}
body section header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
body section header nav .logo-svg {
  height: 100px;
}
body section header nav .left-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body section header nav .left-menu ul li {
  list-style: none;
}
body section header nav .left-menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-underline-offset: 1em;
}
body section header nav .left-menu ul li a:hover {
  text-decoration: underline;
}
body section .main-tw {
  padding-bottom: 10px;
  width: 40vmax;
  margin-left: 12vmax;
}
body section .main-tw p {
  font-size: 35px;
  color: #fff;
}
body section .main-tw button {
  color: #fff;
  padding: 25px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
}
body section .main-tw button a {
  text-decoration: none;
  color: #fff;
}
body .container {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 1200px) {
  body .container {
    max-width: 1200px;
    margin: auto;
  }
}
@media (max-width: 1000px) {
  body .container {
    max-width: 1000px;
    margin: auto;
  }
}
@media (max-width: 860px) {
  body .container {
    max-width: 860px;
    margin: auto;
  }
}
@media (max-width: 640px) {
  body .container {
    max-width: 640px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  body .container {
    max-width: 480px;
    margin: auto;
  }
}