body{
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
.f-sec {
    background: linear-gradient(rgba( 0, 0, 0, 40%), rgba( 0, 0, 0, 40%)), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        max-width: 1900px;
        margin: auto;
        padding-bottom: 40vh;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .logo-svg {
                height: 100px;
            }
            .left-menu ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                
            li{
                list-style: none;
            
                 a {
                    text-decoration: none;
                    color: #fff;
                    padding: 15px;
                    transition: .4s ease-in-out;
                    text-underline-offset: 1em;
                    &:hover {
                        text-decoration: underline;

                        }
                    }
            
                }
        
             }

        }
    }
    .main-tw {
        padding-bottom: 10px;
        width: 40vmax;
        margin-left: 12vmax;
        p{
            font-size: 35px;
            color: #fff;
        }
        button{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }

}
.s-sec{
    padding-bottom: 100px;
    .over{
        width: 20vmax;
        padding: 100px 0;
        h3{
            font-size: 24px;
            font-weight: 700;
        }    
        p{
            font-size: 18px;
            font-weight: 100;
        }
        .btn{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .flex-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .f-img {
            width: 800px;
            overflow: hidden;
            .first-img{
                height: 800px;
                width: 100%;
            }
            .btn-1{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
        .s-img {
            width: 800px;
            overflow: hidden;
            .sec-img{
                height: 800px;
                width: 100%;
            }
            .btn-2{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #000;
                a{
                    text-decoration: none;
                    color: #fff;
    
                }
            }
        }
    }
}
.t-sec{
    padding: 100px 0;
    .text {
        margin-bottom: 100px;
        width: 25vmax;
        h3{
            font-size: 24px;
        }
    }
    .t-sec-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1900px;
        div {
            flex: 1;
            img {
                width: 500px;
                height: 600px;
            }
            button {
                background-color: #fff;
                border: none;
                font-weight: 600;
                padding: none;
                font-size: 15px;
            }
        }
    }
}
.for-sec {
    padding: 100px 0;
    .bg-div {
        padding: 100px 0 500px 0;
        background-color: #000;
        color: #fff;
        .text {
            width: 500px;
            text-align: center;
            margin: auto;
            p {
                font-weight: 500;
                color: #fff;
            }
            h3 {
                color: #fff;
                font-size: 34px;
                font-weight: 100;
                line-height: 50px;
            }
        }
        
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: -400px;
      .swiper-wrapper{
  
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                .slide-1{
                    background: url('https://images.unsplash.com/photo-1523705764474-ce1cad2c8537?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2403&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                }
                .slide-2{
                    background: url('https://images.unsplash.com/photo-1657391473956-a3f44561c146?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                    .in-img {
                        position: absolute;
                        bottom: 100px;
                        left: 160px;
                        h2{
                            font-size: 32px;
                            font-weight: 100;
                            color: #fff;
                        }
                        .btn-3{
                            color: #fff; 
                            padding: 20px 30px;
                            border: none; 
                            border-radius: 5px;
                            font-size: 14px;
                            cursor: pointer;
                            background-color: #000;
                            a{
                                text-decoration: none;
                                color: #fff;
                
                            }
                        }
                    }
                }
                .slide-3{
                    background: url('https://images.unsplash.com/photo-1524134180233-417dc68b0cac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2177&q=80');
                    width: 100%;
                    height: 800px;
                    background-position: cover;
                    background-size: cover;
                    text-align: center;
                }
            }
        }
    }
}
.fif-sec {
    .text-fif {
        margin-left: 550px;
        width: 450px;
        padding-bottom: 100px;
        h3 {
            font-size: 24px;
            font-weight: 100;
        }
        .btn-3{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
      .swiper-wrapper{
  
            .swiper-slide {
                font-size: 18px;
                background: #fff;
                img{
                    width: 520px;
                    height: 300px;
                }
            }
        }
    }
}
.six-sec {
    background-color: #000;
    color: #fff;
    .six-sec-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sec-text{
            padding-left: 25%;
            .btn-4{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #ffffff;
                a{
                    text-decoration: none;
                    color: #000000;
                
                }
            }
        }
    }
    .se-img {
        background: url('https://images.unsplash.com/photo-1693711941978-b7dadd0f002b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2512&q=80');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
}
.container {
    max-width: 1600px;
    margin: auto;
}
@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}
@media (max-width: 1000px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }
}
@media (max-width: 860px) {
    .container {
        max-width: 860px;
        margin: auto;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 640px;
        margin: auto;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 480px;
        margin: auto;    
    }
}
}