body{
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
.f-sec {
    background: linear-gradient(rgba( 0, 0, 0, 40%), rgba( 0, 0, 0, 40%)), url(/assets/imgs/sidekix-media-KRjDLU5j1K8-unsplash.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        max-width: 1900px;
        margin: auto;
        padding-bottom: 200px;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .logo-svg {
                height: 100px;
            }
            .left-menu ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                
            li{
                list-style: none;
            
                 a {
                    text-decoration: none;
                    color: #fff;
                    padding: 15px;
                    transition: .4s ease-in-out;
                    text-underline-offset: 1em;
                    &:hover {
                        text-decoration: underline;

                        }
                    }
            
                }
        
             }

        }
    }
    .first-text {
        padding-bottom: 10px;
        width: 620px;
        margin-left: 12vmax;
        h2{
            font-size: 25px;
            color: #fff;
        }
    }

}
.sec-sec {
    .text-faz {
        width: 50vmax;
        margin-left: 240px;
        padding-top: 100px;
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
    }
    .long-gall-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
        padding-bottom: 100px;
        padding-top: 100px;
        .frst-img {
            width: 550px;
            height: 750px;
            background: url('https://images.unsplash.com/photo-1696208734654-d189070c795b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .second-img {
            width: 550px;
            height: 750px;
            background: url('https://images.unsplash.com/photo-1696229951902-f9588427c811?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            div {
                text-align: center;
                padding-top: 90%;
                h3 {
                    font-size: 24px;
                    color: #fff;
                }
                .btn-1{
                    color: #fff; 
                    padding: 20px 30px;
                    border: none; 
                    border-radius: 5px;
                    font-size: 14px;
                    cursor: pointer;
                    background-color: #000;
                    a{
                        text-decoration: none;
                        color: #fff;
        
                    }
                }
            }
        }
        .thrd-img {
            width: 550px;
            height: 750px;
            background: url('https://images.unsplash.com/photo-1696449534364-1cff3cd6e5f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
       .forth-img {
            width: 550px;
            height: 750px;
            background: url('https://images.unsplash.com/photo-1696499152065-2d9498e8ba4c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .last-thal {
        .first-flex {
            padding: 100px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
            img {
                width: 775px;
                height: 700px;
            }
            div {
                width: 775px;
                h3 {
                    font-size: 24px;
                }
                p {
                    font-size: 18px;
                }
            }
    }
}
.main-element {
    .main-el-text{
        width: 55%;
        padding-bottom: 100px;
    h3 {
        font-size: 24px;
        
    }
    p {
        font-size: 18px;
    }
}
    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
      .swiper-wrapper{
  
      .swiper-slide {
        font-size: 18px;
        background: #fff;
        .review {
            border: 1px solid black;
            border-radius: 15px;
            padding: 20px;
            p {
                margin: 0;
                h4 {
                    margin: 0;
                    text-align: left;
                }
            }
            .review-flex {
                
                display: flex;
                align-items: center;
                justify-content: space-between;
                .stars {
                    .fa-solid {
                        color: yellow;
                    }
                }
            }
        }
      }
        }
    }
}
}
.t-sec{
    padding: 100px 0;
    .text {
        margin-bottom: 100px;
        width: 45vmax;
        h3{
            font-size: 24px;
        }
        p{
            font-size: 18px;
        }
    }
    .t-sec-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1900px;
        div {
            flex: 1;
            img {
                width: 500px;
                height: 600px;
            }
            button {
                background-color: #fff;
                border: none;
                font-weight: 600;
                padding: none;
                font-size: 15px;
            }
        }
    }
}
.fif-sec {
    padding-bottom: 150px;
    .text-fif {
        width: 450px;
        padding-bottom: 100px;
        h3 {
            font-size: 24px;
            font-weight: 100;
        }
        .btn-3{
            color: #fff; 
            padding: 20px 30px;
            border: none; 
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: #000;
            a{
                text-decoration: none;
                color: #fff;

            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
      .swiper-wrapper{
  
            .swiper-slide {
                font-size: 18px;
                background: #fff;
                img{
                    width: 520px;
                    height: 300px;
                }
            }
        }
    }
}
.six-sec {
    background-color: #000;
    color: #fff;
    .six-sec-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sec-text{
            padding-left: 10%;
            width: 600px;
            .btn-4{
                color: #fff; 
                padding: 20px 30px;
                border: none; 
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                background-color: #ffffff;
                a{
                    text-decoration: none;
                    color: #000000;
                
                }
            }
        }
        .se-img {
            background: url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2600&q=80');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            width: 1100px;
        }
    }

}
div {
    hr {
        padding: 0;
        margin: 0;
    }
}
.last-sec {
    background-color: #000;
    padding: 100px 100px;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            color: #fff;
        }
        .input-sede{
            input {
            width: 650px;
            height: 50px;
            padding-left: 15px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #515151; 
            color: #fff;   
            border: none;
        }
            button{
                width: 150px;
                height: 51px;
                border: none;
                color: #fff;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #515151;
            }
        }
    }
}
footer {
    background-color: #000;
    .foot-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 100px 100px;
        .loogo {
            img {
                height: 100px;
            }
            div {
                h3 {
                    font-size: 24px;
                    font-weight: 100;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
    .last {
        max-width: 1700px;
        margin: auto;
    
    .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            p {
                color: #fff;
            }
        }
        .footer-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 22px;
            gap: 20px;
        }
        .footer-sub-menu {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        padding: 10px;
                    }
                }
            }
        }
    }

}
}
.container {
    max-width: 1400px;
    margin: auto;
}
}
@media (max-width: 1200px) {
    body {
        .t-sec {
            .t-sec-flex {
                display: block;
                div {
                    width: 1000px;
                    padding-bottom: 100px;
                    img {
                        width: 1000px;
                        height: 550px;
                    }
                }
            }
        }
        .fif-sec {
            .swiper {
                max-width: 1000px;
                margin: auto;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
            .sec-text {
                padding-left: 5%;
            }
        }
        }
        .last-sec {
            div {
            .input-sede {
                input {
                    width: 450px;    
                }
            }
        }
    }
    footer {
        .footer-menu {
            max-width: 1000px;
            margin: auto;
        }
    }
        .container {
            margin: auto;
            max-width: 1000px;
        }
        
    }
}
@media (max-width: 1000px) {
    body {
        .container {
            margin: auto;
            max-width: 860px;
        }
        .f-sec {
            header {
                max-width: 800px;
                padding-bottom: 100px;
            }
            .main-tw{
                p {
                    font-size: 18px;
                }
                button {
                    font-size: 10px;
                }
            }
        }
        .sec-sec {
            .text-faz {
                margin-left: 40px;
            }
            .last-thal {
                .first-flex {
                    display: block;
                }
            }
        }
        .t-sec {
            .t-sec-flex {
                display: block;
                div {
                    width: 800px;
                    padding-bottom: 100px;
                    img {
                        width: 800px;
                        height: 550px;
                    }
                }
            }
        }
        .fif-sec {
            .swiper {
                max-width: 800px;
                margin: auto;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 250px;
                            height: 200px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
            .sec-text {
                padding-left: 5%;
            }
        }
        }
        .last-sec {
            div {
            .input-sede {
                input {
                    width: 250px;    
                }
            }
        }
    }
    footer {
        display: none;
    }
    }
}
@media (max-width: 860px) {
    body {
        .container {
            margin: auto;
            max-width: 640px;
        }
        .f-sec {
            .first-text {
                width: 550px;
            }
            header {
                max-width: 640px;
                nav {
                    
                    .menu-toogle {
                        display: block;
                    }
                    .left-menu.active {
                        right: 0;
                        display: block;
                    }
                    .left-menu {
                        display: none;
                        // display: block;
                        background-color: #515151;
                        position: absolute;
                        right: -100%;
                        transition: right 0.3s;
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
        .sec-sec {
            .text-faz {
                margin-left: 110px;
            }
            .last-thal {
                .first-flex {
                    img {
                        width: 600px;
                        height: 500px;
                    }
                    div {
                        width: 600px;
                    }
                }
            }
        }
        .t-sec {
            .text {
                width: 100%;
            }
            .t-sec-flex {
                display: block;
                div {
                    width: 640px;
                    padding-bottom: 100px;
                    img {
                        width: 640px;
                        height: 450px;
                    }
                }
            }
        }
        .fif-sec {
            .swiper {
                max-width: 640px;
                margin: auto;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 300px;
                            height: 200px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
                padding-top: 50px;
                display: block;
                margin: auto;
            .sec-text {
                margin: auto;
                padding-bottom: 50px;
            }
            .se-img {
                width: 640px;
                margin: auto;
            }
        }
        }
        .last-sec {
            div {
                display: block;
                margin: auto;
            .input-sede {
                button {
                    margin-left: -5px;
                }
                input {
                    width: 350px;    
                }
            }
        }
    }
    }
}
@media (max-width: 640px) {
    body {
        .container {
            margin: auto;
            max-width: 480px;
        }
        .sec-sec {
            .last-thal {
                .first-flex {
                    img {
                        width: 480px;
                        height: 400px;
                    }
                    div {
                        width: 480px;
                    }
                }
            }
        }
        .f-sec {
            .first-text {
                width: 400px;
                margin-left: 14px;
                h2 {
                    font-size: 18px;
                }
            }
            header {
                max-width: 480px;
            }
        }
        .t-sec {
            .text {
                width: 100%;
            }
            .t-sec-flex {
                display: block;
                div {
                    width: 480px;
                    padding-bottom: 100px;
                    img {
                        width: 480px;
                        height: 300px;
                    }
                }
            }
        }
        .fif-sec {
            .swiper {
                max-width: 480px;
                margin: auto;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 220px;
                            height: 160px;
                        }
                    }
                }
            }
        }
        .six-sec {
            .six-sec-flex{
                padding-top: 50px;
                display: block;
                margin: auto;
            .sec-text {
                margin: auto;
                padding-bottom: 50px;
                width: 480px;
                p {
                    width: 480px;
                }
            }
            .se-img {
                width: 480px;
                margin: auto;
            }
        }
        }
        .last-sec {
            div {
                display: block;
                margin: auto;
            .input-sede {
                button {
                    margin-left: -5px;
                    width: 80px;
                }
                input {
                    width: 150px;
                    font-size: 12px;
                    padding-left: 5px;
                    padding-right: 10px;    
                }
                
            }
        }
    }
    }
}
@media (max-width: 480px) {
    body {
        .sec-sec {
            .main-element {
                .main-el-text {
                    margin-left: 24px;
                    width: 340px;
                }
            }
            .text-faz {
                 margin-left: 14px;
                 width: 360px;
            }
            .last-thal {
                .first-flex {
                    img {
                        width: 360px;
                        height: 300px;
                    }
                    div {
                        width: 360px;
                    }
                }
            }
            .long-gall-flex {
                .frst-img {
                    width: 360px;
                }
                .second-img {
                    width: 360px;
                }
                .thrd-img {
                    width: 360px;
                }
                .forth-img {
                    width: 360px;
                }
            }
        }
        .f-sec {
            .first-text {
                width: 300px;
            }
            header {
                max-width: 360px;
            }
        }
        .container {
            margin: auto;
            max-width: 360px;
        }
        .f-sec {
            header {
                max-width: 360px;
                nav {
                    .logo-svg {
                        height: 50px;
                    }
                }
            }
        }
        .t-sec {
            padding-top: 0;
            .t-sec-flex {
                div {
                    width: 360px;
                    img {
                        width: 360px;
                        height: 200px;
                    }
                }
            }
        }
        .fif-sec {
            .text-fif {
                p {
                    width: 360px;
                }
            }
            .swiper {
                max-width: 360px;
                .swiper-wrapper {
                    .swiper-slide {
                        img {
                            width: 360px;
                            height: 260px;
                        }
                    }
                }
            }
        }
        
        .six-sec {
            .six-sec-flex{
                .sec-text {
                    width: 360px;
                    p{
                        width: 360px;
                    }
                }
            .se-img {
                width: 360px;
            }
        }
        }
        .last-sec {
            padding: 50px 20px;
            div {
            .input-sede {
                input {
                    width: 220px;   
                }
                
            }
        }
    }
    }
}
